@keyframes slideLeft{
  0%{left: 100%;}
  100%{left: 90%;}
}
@keyframes slidePadeOut{
  0%{opacity: 1; transform: translateX(100px);}
  100%{opacity: 0; transform: translateX(0);}
}

@keyframes slideTxtin{
  0%{opacity: 0; transform: translateX(100px);}
  100%{opacity: 1; transform: translateX(0);}
}

@keyframes slideTxtout{
  0%{opacity: 1; transform: translateX(0);}
  100%{opacity: 0; transform: translateX(100px);}
}

@keyframes slideUp{
  0%{top:100px; opacity: 0;}
  100%{top:0; opacity: 1;}
}

@keyframes dash {
  0% {stroke-dashoffset: 400%; stroke:#B7D322}
  50% {stroke-dashoffset: 200%; stroke:#B7D322}
  100% {stroke-dashoffset: 0;stroke:#EA6390}
}
@keyframes dash_2 {
  0% {stroke-dashoffset: 400%; stroke:#E73962}
  50% {stroke-dashoffset: 200%; stroke:#E73962}
  100% {stroke-dashoffset: 0;stroke:#6923D8}
}