@media screen and (max-width : 1200px){
  /* main page */
  .txtBoxes .txtBox .indexTxt h3{font-size: 22px;}
  .txtBoxes .txtBox .indexTxt h3 p{font-size: 22px;}
  .txtBoxes .txtBox .indexTxt p{font-size: 12px;}
  .txtBoxes .nav>ul{padding: 30px 40px;}

  /* about page */
  .navBox .nameBox h3,.navBox .nameBox h3 p{font-size: 24px;}
  .navBox .nameBox p{font-size: 20px;}
  .navBox .copy{font-size: 10px;}

  .ab_content_in .img img{width: 125%; margin-top: 3%;}
  .about section{margin: 80px 60px 0;}
  section{padding: 60px;}
  .about section.ab_skill{width: 30%;}
  .histTxt .dot{margin: 0 15px;}
  .skillSection .roundBox{width: 100%;}

  /* publishing page */
  .pu_dbProject, .pu_apiProject, .pu_renProject, .pu_pieProject, .pu_planProject{flex-direction: column; height: 100vh;}
  .title{margin-bottom: 35px;}
  .leftTxtBox,.rightTxtBox{width: 100%;}
  .rightImgBox{_width: 70%; margin: 60px auto;}
  .leftImgBox,.rightImgBox.plan{width: 80%; margin:auto;}
  .desc{position: relative; display: flex; flex-wrap: wrap; justify-content: space-between;}
  .desc p{width: 100%;}
  .pfBtns{position: relative; padding-bottom: 0; width: 50%;}
  .leftTxtBox .pfBtns,.rightTxtBox .pfBtns{bottom: 0;}
  .leftImgM{display: none;}

  /* design page */
  .imgBox{width: 90%;}
  #deSlider ul li{width: 30vw;}
  .de_brochure .imgBox{height: 55vh;}
  .de_brochure .imgBox .img:hover{width: 90%;}

  /* .flipbook-viewport .flipbook,.flipbook-viewport .flipbook-2{width:400px; height:420px;}
  .flipbook-viewport .page{width:200px; height:420px;} */

  /* more page */
  .mo_imgView{width: 100%;}
  .moBtns{flex-wrap: wrap;}
  .moBtns button{width: 33.33%; margin-bottom: 5px;}
  .moBtns button:nth-child(3){border-radius: 0 5px 5px 0;}
  .moBtns button:nth-child(4){border-radius: 5px 0 0 5px;}
  .moImgBox, .box-sizer{width: 33.33%;}
}

@media screen and (max-width : 950px){
  /* main page */
  .slides,.slides .slide-box,.slides .slide-box .slide{height: 55vh;}
  .slides .slide span{padding: 30px; font-size: 30px;}
  .txtBoxes{height: 45vh;}
  .txtBoxes .txtBox{padding: 0 30px;}
  .txtBoxes .txtBox .indexTxt{padding: 60px 0 0 0; width: 47%;}
  .txtBoxes .txtBox .indexTxt:nth-child(odd){margin-right: 5%;}
  .txtBoxes .txtBox .contents{flex-wrap: wrap; justify-content:space-around;}
  .txtBoxes .txtBox .indexTxt h3,.txtBoxes .txtBox .indexTxt h3 p{display: inline;}
  .txtBoxes .txtBox .indexTxt hr{border-bottom: 2px solid #333;}
  .txtBoxes .nav>ul{padding: 30px;}
  .txtBoxes .nav>ul p{font-size: 12px;}
  .txtBoxes .nav li{margin: 20px 0;}
  .txtBoxes .nav li i{font-size: 15px;}
  .txtBoxes .nav hr{border: 0; border-bottom: 1px solid #fff;}
  .btns{right: 10px; bottom: 30px;}
  .btns button{width: 30px; height: 30px; font-size: 28px;}
  .navBox .pfBtns.pfBtns a{width: 40%;}
  
  /* about page */
  .navBox{padding: 30px 15px;}
  .navBox .nameBox p{font-size: 16px;}
  .navBox .nav a p{font-size: 14px;}

  .ab_content_in .img img{width: 135%; margin-top: 10%;}
  .ab_content_in .text{padding-top: 15%;}
  .ab_content_in .text h3{font-size: 30px; margin: 0; padding: 0;}
  .ab_content_in .text p{font-size: 12px; padding-bottom: 10px;}

  .about section.ab_history{width: 80%; margin-right:0}
  .about section.ab_skill{width: 80%; float: left; margin-left: 60px;}
  .ab_content_sk{width: 60%; left: 50%; transform: translateX(-50%);}
  .about section.ab_contact{width: 80%;}
  .histTxt .dot{width: 7%;}

  /* publishing page */
  .rightImgBox{width: 80%;}
  .leftImgBox{width: 100%;}

  /* design page */
  .design .desc{width:100%}
  .design section{height: 70vh; display: flex; flex-direction: column; justify-content: space-around;}
  .design .imgBox{width: 100%!important; height: auto;}
  .coverImgBox .cover{width: 30%;}
  .coverImgBox .cover:hover{width: 35%;}

  #deSlider ul li{width: 30vw;}
  .design section.de_brochure{height: 85vh;}
  .de_brochure .imgBox{height: 55vh;}
  .de_brochure .imgBox .img:hover{width: 90%;}

  .viewMore{width: 20%;}
  .viewMore:hover{width: 25%;}

  .modal{top: auto;}
  .modal-content{width: 100%;margin: 15% auto 15% auto}

  /* more page */
  .moImgBox, .box-sizer{width: 50%;}
}

@media screen and (max-width : 750px){
  /* main page */
  .txtBoxes .nav>ul{padding: 30px 15px;}
  /* .nav>ul p{text-align: center;} */
  .nav a{justify-content: center; color: #fff;}
  .nav li:hover{border-bottom: 1px solid #333; transition: all 0.4s;}
  .nav .hover{display: none;}
  .slides .slide span{padding: 20px; font-size: 28px;}
  .txtBoxes .txtBox{padding: 3px 20px;}
  .navBox .pfBtns.pfBtns{justify-content: center; flex-wrap: wrap;}
  .navBox .pfBtns.pfBtns a{width: 80%; margin-top: 5px;}

  /* about page */
  .navBox{padding: 30px 10px;}
  .navBox .nameBox h3, .navBox .nameBox h3 p{font-size: 18px;}
  .navBox .nameBox p{font-size: 14px;}
  .navBox .nav li{margin: 15px 0;}
  .navBox .nav a{display: block;}
  .navBox .nav a p{font-size: 12px;}

  .about section{margin: 35px 60px 0;}
  section{padding: 60px;}
  .ab_content_in .img,.ab_intro{height: 60vh;}
  .ab_content_in .img img{width: 150%; margin-top: 15%;}
  .ab_content_in .text{padding-top: 40%; width: 85%;}
  .ab_content_in .text h3{font-size: 30px;}
  .ab_content_in .text p{font-size: 12px; padding-bottom: 8px;}

  .contactBox form input{width: 100%; margin-bottom: 5px;}
  .contactBox form textarea{margin: 0 0 5px 0;}

  /* publishing page */
  .rightImgBox{width: 100%;}
  .leftImgBox .frame{width: 100%;}
  .pfBtns{width: 60%;}

  /* design page */
  .viewMore{top:85%; font-size: 12px; width: 25%;}
  .viewMore:hover{width: 30%;}
  .coverImgBox{align-items: flex-end; height: 35vh;}
  .coverImgBox .cover img:hover{width: 100%;}
  #deSlider{margin-bottom: 0.5vh;}
  #deSlider ul li{width: 33vw;}
  .frame{width: 90%;}
  .slideBg{width: 80%;}
  .de_brochure .imgBox{width: 110%; margin-left: -10px;}
}

@media screen and (max-width : 600px){
  .ab_content_in .img,.ab_intro{height: 45vh;}
  .ab_content_in .img img{width: 150%; margin-top: 15%;}
  .ab_content_in .text{padding-top: 35%; width: 85%;}
  .ab_content_in .text h3{font-size: 20px;}
  .ab_content_in .text p{font-size: 10px; padding-bottom: 8px;}

  .histTxt span{font-size: 12px;}
  .histTxt .histName{font-size: 14px;}
  .histTxt .histName p{font-size: 12px;}
  .histTxt .dot{width: 3%;}

  .about section.ab_skill{margin-top: 70px;}
  .skillSection .roundBox>p{font-size: 14px; transform: translateX(-40%);}
  .ab_content_sk{transform: translateX(-60%);}

  .about section.ab_contact{padding-top: 60px;}
  .contacBtns a{width: 35px; height: 35px;}
  .contacBtns a:nth-child(1) i{font-size: 30px;}
  .contacBtns i{font-size: 18px;}
  .contacBtns a:nth-child(3) i{font-size: 20px;}

  .about section{margin: 35px 40px 0;}
  section{padding: 35px 40px 0;}

  /* publishing page */
  .desc{justify-content: center; text-align: center; padding-top: 20px;flex-wrap: nowrap; flex-direction: column;align-items: center;}
  .rightTxtBox{height: 40%;}
  .title{margin-bottom: 35px; text-align: center;}
  .title hr{display: none;}
  .pu_dbProject, .pu_apiProject, .pu_renProject, .pu_pieProject, .pu_planProject{padding: 25% 10%;}

  /* design page */
  .design section{padding: 50px;}
  .pop .imgBox{height: 50vh;}
  .zoom{margin: 0;}
  .viewMore{top: 90%;}
  .de_brochure .imgBox{width: 135%; height: 40%;}
  #deSlider ul li{width: 38vw;}
  .frame{width: 100%;}
  .slideBg{width: 90%;}
  .de_brochure .imgBox .img:nth-child(2){top: 10%;}
  .de_brochure .imgBox .img:nth-child(4){bottom: 10%;}
  .viewMore{width: 30%;}
  .viewMore:hover{width: 35%;}
  .close{margin-top: 30%;}

  /* more page */
  .moImgBox, .box-sizer{width: 100%;}
  .moBtns button{font-size: 12px;}
  .moBtns button:hover, .moBtns button.active{font-size: 13px;}
}

@media screen and (max-width : 480px){
  /* main page */
  .slides, .slides .slide-box, .slides .slide-box .slide{height: 35vh;}
  .slides{top: 50px;}
  .slides .slide span{padding: 20px; font-size: 16px; display: none;}
  .slides .slide.active span{display: flex;}
  .slides .slide i{padding: 15px 20px; font-size: 25px;}
  .slides .slide:nth-child(1){width: 100%;}
  .slides .slide:nth-child(2){width: 100%;}
  .slides .slide:nth-child(3){width: 100%;}
  .slides .slide:nth-child(4){width: 100%;}

  .txtBoxes .nav{width: 100%; height: 50px; position: fixed; top: 0; background: #333; z-index: 100;}
  .txtBoxes .nav>ul{flex-direction: row; padding: 5px; align-items: center; display: none;}
  .txtBoxes .nav>ul p{font-size: 11px; display: flex; align-items: center; height: 30px;}
  .txtBoxes .nav li{height: 100%; display: flex;}
  .txtBoxes .nav>ul{width: 100%; position: absolute; background: #333; height: auto; margin-top: 50px; display: none; z-index: -100;}
  .txtBoxes .nav li{padding: 0; margin: 0; height: 55px;}
  .txtBoxes .nav a{display: flex; justify-content: center; border-top: 1px solid #aaa;}
  .txtBoxes .nav a p{color: #fff; font-size: 14px;}
  .txtBoxes .nameBox h3, .navBox .nameBox h3 p{color: #fff; display: inline;}
  .txtBoxes .nameBox hr{display: none;}
  .txtBoxes .nav li:hover{background: #111;}
  .nameBox,.nameBox.mainNam{position: fixed; top: 0; left: 0; z-index: 200; height: 50px; display: flex; align-items: center; padding: 0 20px;}
  .nameBox h3{color: #fff;}
  .nameBox h3 p{display: inline;}
  .nameBox>p{display: none;}

  .txtBoxes{height: 55vh;}
  .txtBoxes .txtBox{width: 100%;}
  .txtBoxes .txtBox .indexTxt{padding: 15px 0 0 0; width: 100%;}
  .txtBoxes .txtBox .indexTxt:nth-child(1){margin-top: 20px;}
  .txtBoxes .txtBox .indexTxt:nth-child(odd){margin-right: 0; }
  .txtBoxes .txtBox .indexTxt h3,.txtBoxes .txtBox .indexTxt h3 p{font-size: 16px;font-weight: 500;}
  .txtBoxes .txtBox .indexTxt p{font-size: 10px;}
  .txtBoxes .txtBox .indexTxt hr{border-bottom: 1px solid #333; margin: 6px 0 0 0;}

  .btns{right:5px; top: 0;}
  .btns button{height: 25px; font-size: 20px; width: 25px;}
  .txtBoxes .txtBox .copy{position: fixed; bottom: 0; left: 0px; border-top: 1px solid #ddd; text-align: center; padding: 10px 0; width: 100%;}

  /* about page */
  .contents-wrap{width: 100%; margin: 0;}
  .navBox{width: 100%; border: 0; left: 0; padding: 0; z-index: 100; height: auto;}
  .navBox .nameBox{position: fixed; width: 100%; top: 0; height: 50px; display: flex; align-items: center; background: #333; left: 0; padding: 0 20px;_z-index: 200;}
  .navBox .nav>ul{width: 100%; position: absolute; background: #333; height: auto; margin-top: 50px; display: none; z-index: -100;}
  .navBox .nav li{padding: 0; margin: 0; height: 55px; display: flex;}
  .navBox .nav a{display: flex; justify-content: center; border-top: 1px solid #aaa;}
  .navBox .nav a p{color: #fff; font-size: 14px;}
  .navBox .nameBox h3, .navBox .nameBox h3 p{color: #fff; display: inline;}
  .navBox .nameBox hr{display: none;}
  .navBox .nav li:hover{background: #111;}
  .mobileNav{display: block;}

  .navBox .copy{display: none;}
  .copyOut{position: relative; bottom: 0; left: 0px; border-top: 1px solid #ddd; text-align: center; padding: 10px 0; width: 100%; display: block;}
  .navBox .pfBtns.pfBtns{display: none;}

  .about section,.about section.ab_skill{margin: 100px 10% 0;}
  section{padding: 100px 30px 0 30px; }
  .ab_intro{height: 45vh;}
  .ab_content_sk{transform: translateX(-50%); width: 80%;}
  .ab_content_in .img{height: 65vh;}
  .ab_content_in .img img{width: 175%; margin-top: 45%;}
  .ab_content_in .text{padding-top: 46%; width: 84%; margin: 0 auto; margin-right: 21px;}
  .title{margin-bottom: 20px; width: 100%;}
  .ab_content_hi .line{left: 10%;}
  .histTxt{padding: 20px 0; flex-direction: column; position: relative; padding-left: 8px;}
  .histTxt span{width: 100%; text-align: left; padding-left:40px}
  .histTxt .histName{width: 100%; padding-left: 40px;}
  .histTxt .dot{position: absolute; width: 5%;}
  .contacBtns{padding-top: 5px; margin: 0 auto 25px;}

  .skillSection .roundBox .hover{display: flex; opacity: 1;}
  .skillSection .roundBox .hover .percentBg{opacity: 1;}
  .skillSection .roundBox.htmlSkill .percentBg{width: 90%;}
  .skillSection .roundBox.cssSkill .percentBg{width: 90%;}
  .skillSection .roundBox.jsSkill .percentBg{width: 80%;}
  .skillSection .roundBox.phpSkill .percentBg{width: 90%;}
  .skillSection .roundBox.sqlSkill .percentBg{width: 80%;}
  .skillSection .roundBox.psSkill .percentBg{width: 100%;}
  .skillSection .roundBox.aiSkill .percentBg{width: 100%;}
  .skillSection .roundBox.idSkill .percentBg{width: 100%;}
  
  /* publishing page */
  .pfBtns{width: 75%;}
  .pfBtns a{height: 25px;}
  .desc{padding-top: 0;}
  .desc p{font-size: 12px;}
  .leftImgBox .imgBox{height: 82%; margin: 3.4% 0;}
  .pu_dbProject, .pu_apiProject, .pu_renProject, .pu_pieProject, .pu_planProject{height: 87vh; padding: 17% 10%;}
  .pu_planProject .rightTxtBox .pfBtns{justify-content: center;}

  /* design page */
  .design section{padding: 40px;}
  .viewMore{padding: 5px 10px; width: 35%; height: 30px;}
  #deSlider ul li{width: 50vw;}
  .de_brochure .imgBox{width: 110%; margin-left:0; height: 40vh;}
  .de_brochure .imgBox .img:nth-child(2){top: 20%;}
  .de_brochure .imgBox .img:nth-child(4){bottom: 20%;}
  .pop .imgBox{height: 45vh; margin: 20px auto;}
  .cardnews .frame{height: auto;}
  .cardnews .imgBox{height: auto;}
  .slideBg{height: 95%;}

  .moBtns button{padding: 0; font-size: 11px;}
  .lb-data .lb-close{width: 20px; height: 20px; background-size: contain;}
  .lb-nav a.lb-prev,.lb-nav a.lb-next{width: 25px;background-size: contain;}
  .coverImgBox .cover svg{display: none;}
}