/* dbProject style */
.dbBg{width: 100%; height: 100vh; background: #d4bfa2; position: relative;}
.pu_dbProject,.pu_apiProject,.pu_renProject,.pu_pieProject,.pu_planProject{display: flex; justify-content: space-between; flex-direction: row;}
.leftTxtBox{width: 28%;position: relative;}
.useBox{width: fit-content; background: #fff; border-radius: 50px; display: flex; flex-direction: row; padding: 5px; margin: 10px 0;}
.useBox .icon{width: 30px; height:30px; background: #333; border-radius: 50%; margin-left: 5px; display: flex; justify-content: center; align-items: center;}
.useBox .icon:first-child{margin-left:0;}
.useBox .icon img{width: 80%; transition: all 0.4s;}
.useBox .icon:hover img{width: 100%;}
.useBox .useLine{height: 30px; width: 1px; background:  #d4bfa2; margin-left: 5px;}
.pfBtns{width: 100%; display: flex; justify-content: space-around; align-items: center; position: absolute; bottom: 10px; padding-bottom: 100px;}
.pfBtns a{width: 30%; _background: #333; color: #333; height:40px; border-radius: 5px; display: flex; justify-content: center; align-items: center; border: 1px solid #333; text-transform: uppercase; font-size: 12px; font-weight: 500; transition: all 0.4s;}
.leftTxtBox .pfBtns{bottom: 70px;}
.pfBtns a:hover{background: #333; color: #fff; font-size: 14px;}
.desc p{padding-bottom: 5px; text-transform: uppercase;}

/* image box style */
.frame{z-index: 1;}
.frame img{width: 100%;}
.imgBox{overflow: hidden; position: absolute;}
.imgBox img{width: 100%; top: 0; position: absolute;}

.rightImgBox{width: 65%; display: flex; justify-content: center; align-items: center; position: relative;}
.rightImgBox .frame{width: 100%; height:100%; position: relative; _display: flex; _justify-content: center;}
.rightImgBox .imgBox{width: 92.5%; height: 65%; margin: 3.7%; top: 0; position: absolute;top: 0%; left: 0; overflow: hidden;}

.leftImgBox{width: 65%; display: flex; justify-content: center; align-items: center; position: relative;}
.leftImgBox .frame{width: 100%; height:100%; position: relative;}
.leftImgBox .imgBox{width: 78%; height: 80.5%; margin: 3.4% 1%; top: 0; display: flex; justify-content: center;align-items: center; overflow: hidden;}
.leftImgBox .imgBox img{height: 100%; width: auto;}

.leftImgBox.plan img{width: 100%; height: auto;}



/* apiProject style */
.apiBg{width: 100%; height: 100vh; background: #c92e2b; position: relative;}
.rightTxtBox{width: 28%;position: relative; margin-right: 40px;}
.apiBg .useBox .useLine{background: #c92e2b; }

/* renProject style */
.renBg{width: 100%; height: 100vh; background: #fffaf0; position: relative;}
.renBg .useBox{background: #ecdfca;}
.renBg .useBox .useLine{background: #333;}

/* pieProject style */
.pieBg{width: 100%; height: 100vh; background: #ffe138; position: relative;}
.leftImgM{width:10%; display: flex; justify-content: center; align-items: center; position: absolute; bottom: 0; z-index: 10;}
.leftImgM .frame_mobile{width: 100%; height:100%; position: relative; z-index: 5;}
.leftImgM .frame_mobile img{width: 100%;}
.leftImgM .imgBox{width: 89.5%; height: 94.5%; margin: 5.5%; top: 0; position: absolute;top: 0%; left: 0; overflow: hidden; border-radius: 10px;}

/* pieProject style */
.planBg{width: 100%; height: 100vh; background: #dddddb; position: relative;}
.planBg .useBox .useLine{background: #dddddb;}