@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* reset css */
*{margin: 0; padding: 0; box-sizing: border-box;}
body{font-size:14px; font-family: 'Roboto'; color: #333;}
.clear:after{clear: both; content: ''; display: block;}
.center{width: 100%; height: auto; max-width: 980px; margin: auto;}
ol, ul{list-style: none;}
a{text-decoration: none; color: #333;}
img{display: block;}
button, input, textarea, select{outline: 0; font-family: 'Open Sans'; _-webkit-appearance:none; border-radius: 0; background: #fff; cursor: pointer;}
input::placeholder, textarea::placeholder{color: #555;}
input:focus, textarea:focus{background: #eee;}

/* Contents wrap style */
.main-wrap{width: 100vw; height: 100vh; display: flex; justify-content:space-between; align-items: center; flex-direction: column; overflow: hidden;}
.wrap{width: 100vw; height: auto; display: flex; justify-content:space-between; align-items: center; flex-direction: column; overflow: hidden; }